<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1" />
        <title>Spotify games</title>
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link href="/assets/main.css" rel="stylesheet" />
        <script src="/assets/htmx.min.js"></script>
        <script src="/assets/uikit.min.js"></script>
        <script src="/assets/uikit-icons.min.js"></script>
        <script src="/assets/ws.js"></script>
        <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
        </script>
    </head>
    <body class="m-0 h-dvh max-h-dvh w-dvw bg-background p-0 dark:text-white">
        {% include "comp/toggle.html" %}
        {% block content %}{% endblock %}
    </body>
</html>
<script>
  var themeToggleBtn = document.getElementById("theme-toggle");

  themeToggleBtn.addEventListener("click", function () {
    // if set via local storage previously
    if (localStorage.getItem("color-theme")) {
      if (localStorage.getItem("color-theme") === "light") {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      }

      // if NOT set via local storage previously
    } else {
      if (document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      } else {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      }
    }
  });
</script>
